/* 
.container {
  display: flex;
  margin-top: 50px;
} */
/* body {
  overflow: hidden;
} */

#movie-backdrop {
    width: 100%;
}
/* nav, footer, .container{
  display:table-row;
} */
nav{
  margin: 4px;
  color:blanchedalmond;
  display:flex;
  justify-content: space-around;
    flex-direction: row;
      flex-wrap: no-wrap;

  align-items: right;
  min-height: 8vh; 
  font-family: 'Poppins', sans-serif;
  /* position:sticky; */
  top: 0;
  width: 100%;
  height: 5%;
}

.nav-links {
 padding: 0px 8px;
  word-wrap: normal;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a{
  color:blanchedalmond; 
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold; 
  font-size: 18px;
}
h3{
  font-size: 30px;
  display:flex;
  justify-content: flex-start;
}

.nav-links li a:hover {
  color:blanchedalmond;
  transform: scale(1.5);
  cursor: pointer;
}
/* .test{
  width: 80%;
} */
.container{
  display: flex;
  /* margin-left: 2em; */
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  /* position:fixed; */
  /* width: 100em; */
  /* overflow: hidden; */
/* display: inline-block;
  cursor: pointer;
padding-top: 32px;
 margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; */
  zoom: 1.0;
}
.container:hover {
cursor: grab;
  zoom: 1.1;

}
  
#actors {
    margin: 24px 16px 0 0;
    display:flex;
  flex-direction: row;
}
#similar{
      margin: 24px 16px 0 0;

  display:flex;
  flex-direction: row;
}
#trailers{
      margin: 24px 16px 0 0;

  display:flex;
  flex-direction: row;
}  
#production{
  margin: 24px 16px 0 0;
  display:flex;
  flex-direction: row;
}
/* .oneActor{
  
}   */
/* .actorImg, .actorName{
  display:flex;
flex-direction: column;
} */
  body{
    margin:1em;
     background:rgba(245, 197, 37, 0.932);
     /* display:table; */
       height: 100%;
   }

  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

/* .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; } */
